<main class="chats">
  <div class="chats__left">
    <a href="#" class="chats__profile-link" data-page="profile">Профиль</a>
    <input class="chats__search" placeholder="Поиск"/>
    <ul class="chats__list">
      {{#each chats}}
      {{!-- chat --}}
      {{/each}}
    </ul>
  </div>
  <div class="chats__right">
    <p class="chats__landing">Выберите чат чтобы отправить сообщение</p>
  </div>
</main>