<main class="error-page">
  <h1 class="error-page__number">{{number}}</h1>
  <p class="error-page__text">{{message}}</p>
  <a href="#" class="error-page__link" data-page="chats">Назад к чатам</a>
</main>